<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{title}} - bombsquad.dev{% endblock %}</title>
    <meta name="description" content="{% block description %}{{description}}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="{{ og_type }}" />
    <meta property="og:url" content="{{ og_url }}" />
    <meta property="og:image" content="" />
    {%- if let OgType::Article(date, tags) = og_type %}
    {%- if let Some(date) = date %}
    <meta property="article:date" content="{{ date }}" />
    {%- endif %}
    {%- for tag in tags %}
    {%- if !tag.starts_with("_") %}
    <meta property="article:tag" content="{{ tag }}" />
    {%- endif %}
    {%- endfor %}
    {%- endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="/style/custom-style.css" type="text/css" rel="stylesheet">
    <meta name="theme-color" content="#161616">
    <meta name="color-scheme" content="dark">
</head>
<body>
<header>
    {{ navbar|safe }}
</header>
<main>
{% block content %}{% endblock %}
</main>
<footer>
    <div class="container border text-center pt-3">
        <div class="mx-auto" style="max-width: 80ch;">
            <p>(c) 2026 bombsquad.dev</p>
        </div>
    </div>
</footer>
</body>
</html>