<div class="mx-auto" style="max-width: 80ch;">
    <p class="h3 pt-3 mb-0">
        <a href="/{{ post.get_path_str() }}" class="nav-link"><b>{{ post.title }}</b></a>
    </p>
    <p>
        {%- if let Some(date) = post.date %}
        <span class="border rounded-5 text-bg-dark text-primary">&nbsp{{ date }}&nbsp</span>
        {%- endif %}
        {%- if post.tags.len() > 0 %}
        {%- for tag in post.tags %}
        {%- if !tag.starts_with("_")  %}
        <a href="{{ post.get_tag_page_path(tag) }}" class="border rounded-5 text-bg-dark text-primary text-decoration-none">&nbsp{{ tag }}&nbsp</a>
        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </p>
</div>
