{% extends "base.html" %}
{% block content %}
<div class="container border">
  <div class="mx-auto" style="max-width: 80ch;">
    <p class="h3 pt-3 mb-0"><b>{{ content.title }}</b></p>
    <p>
      <span class="border rounded-5 text-bg-dark text-primary">&nbsp{{ content.date }}&nbsp</span>
      {%- if content.tags.len() > 0 %}
      {%- for tag in content.tags %}
      <span class="border rounded-5 text-bg-dark text-primary">&nbsp{{ tag }}&nbsp</span>
      {%- endfor %}
      {%- endif %}
    </p>
    <p>{{ content.body }}</p>
  </div>
</div>
{% endblock %}
